# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

### The list below is just copied'n'pasted from output of `git status'. 
### There are not systemized entries here.
INSTALL
Makefile
Makefile.in
aclocal.m4
adflib.pc
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
examples/.deps/
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/unadf
install-sh
libtool
ltmain.sh
missing
regtests/Test/.deps/
regtests/Test/.libs/
regtests/Test/Makefile
regtests/Test/Makefile.in
regtests/Test/access
regtests/Test/bootdisk
regtests/Test/comment
regtests/Test/del_test
regtests/Test/dir_test
regtests/Test/dir_test2
regtests/Test/dispsect
regtests/Test/file_test
regtests/Test/file_test2
regtests/Test/file_test3
regtests/Test/fl_test
regtests/Test/fl_test2
regtests/Test/hardfile
regtests/Test/hardfile2
regtests/Test/hd_test
regtests/Test/hd_test2
regtests/Test/hd_test3
regtests/Test/progbar
regtests/Test/readonly
regtests/Test/rename
regtests/Test/rename2
regtests/Test/undel
regtests/Test/undel2
regtests/Test/undel3
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/adf_bitm.lo
src/adf_cache.lo
src/adf_dir.lo
src/adf_disk.lo
src/adf_dump.lo
src/adf_env.lo
src/adf_file.lo
src/adf_hd.lo
src/adf_link.lo
src/adf_nativ.lo
src/adf_raw.lo
src/adf_salv.lo
src/adf_util.lo
src/libadf.la
stamp-h1
